In [1]:
import pandas as pd
metadata = pd.read_csv('C:/Users/user/OneDrive/바탕 화면/movie_metadata.csv')
metadata.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,Unnamed: 28,Unnamed: 29,summary
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,NaN,NaN,NaN
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,NaN,NaN,NaN

In [2]:
image_data = metadata[['movie_imdb_link','movie_title','genres','summary','director_name','actor_1_name','actor_2_name','actor_3_name']]
image_data.head(10)

,movie_imdb_link,movie_title,genres,summary,director_name,actor_1_name,actor_2_name,actor_3_name
0,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,Avatar,Action|Adventure|Fantasy|Sci-Fi,NaN,James Cameron,CCH Pounder,Joel David Moore,Wes Studi
1,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,NaN,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport
2,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,Spectre,Action|Adventure|Thriller,NaN,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman
3,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,The Dark Knight Rises,Action|Thriller,NaN,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt
4,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,Star Wars: Episode VII - The Force Awakens ...,Documentary,NaN,Doug Walker,Doug Walker,Rob Walker,NaN
5,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,John Carter,Action|Adventure|Sci-Fi,NaN,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker
6,http://www.imdb.com/title/tt0413300/?ref_=fn_t...,Spider-Man 3,Action|Adventure|Romance,NaN,Sam Raimi,J.K. Simmons,James Franco,Kirsten Dunst
7,http://www.imdb.com/title/tt0398286/?ref_=fn_t...,Tangled,Adventure|Animation|Comedy|Family|Fantasy|Musi...,NaN,Nathan Greno,Brad Garrett,Donna Murphy,M.C. Gainey
8,http://www.imdb.com/title/tt2395427/?ref_=fn_t...,Avengers: Age of Ultron,Action|Adventure|Sci-Fi,NaN,Joss Whedon,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson
9,http://www.imdb.com/title/tt0417741/?ref_=fn_t...,Harry Potter and the Half-Blood Prince,Adventure|Family|Fantasy|Mystery,NaN,David Yates,Alan Rickman,Daniel Radcliffe,Rupert Grint

In [3]:
links = pd.read_csv('C:/Users/user/OneDrive/바탕 화면/links.csv')
links.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [4]:
links = links[['movieId','imdbId']]
links.head(10)

   movieId  imdbId
0        1  114709
1        2  113497
2        3  113228
3        4  114885
4        5  113041
5        6  113277
6        7  114319
7        8  112302
8        9  114576
9       10  113189

In [5]:
image_data = image_data[ ~ image_data.movie_imdb_link.isnull()]
def app(x):
 try:
    return int(x[28:35])
 except ValueError:
    print (x)
image_data['imdbId'] = image_data.movie_imdb_link.apply(app)
image_data = image_data[ ~ image_data.imdbId.isnull()]
image_data.imdbId = image_data.imdbId.astype(int)
image_data = image_data[['imdbId','movie_title','genres','summary','director_name','actor_1_name','actor_2_name','actor_3_name']]
image_data.head(10)

,imdbId,movie_title,genres,summary,director_name,actor_1_name,actor_2_name,actor_3_name
0,499549,Avatar,Action|Adventure|Fantasy|Sci-Fi,NaN,James Cameron,CCH Pounder,Joel David Moore,Wes Studi
1,449088,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,NaN,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport
2,2379713,Spectre,Action|Adventure|Thriller,NaN,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman
3,1345836,The Dark Knight Rises,Action|Thriller,NaN,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt
4,5289954,Star Wars: Episode VII - The Force Awakens ...,Documentary,NaN,Doug Walker,Doug Walker,Rob Walker,NaN
5,401729,John Carter,Action|Adventure|Sci-Fi,NaN,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker
6,413300,Spider-Man 3,Action|Adventure|Romance,NaN,Sam Raimi,J.K. Simmons,James Franco,Kirsten Dunst
7,398286,Tangled,Adventure|Animation|Comedy|Family|Fantasy|Musi...,NaN,Nathan Greno,Brad Garrett,Donna Murphy,M.C. Gainey
8,2395427,Avengers: Age of Ultron,Action|Adventure|Sci-Fi,NaN,Joss Whedon,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson
9,417741,Harry Potter and the Half-Blood Prince,Adventure|Family|Fantasy|Mystery,NaN,David Yates,Alan Rickman,Daniel Radcliffe,Rupert Grint

In [6]:
posters = pd.merge(image_data, links, on='imdbId', how='left')
posters = posters[['movieId','movie_title','genres','summary','director_name','actor_1_name','actor_2_name','actor_3_name']]
posters = posters[~ posters.movieId.isnull()]
posters.movieId = posters.movieId.astype(int)
posters.head(10)

,movieId,movie_title,genres,summary,director_name,actor_1_name,actor_2_name,actor_3_name
0,72998,Avatar,Action|Adventure|Fantasy|Sci-Fi,NaN,James Cameron,CCH Pounder,Joel David Moore,Wes Studi
1,53125,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,NaN,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport
2,136020,Spectre,Action|Adventure|Thriller,NaN,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman
3,91529,The Dark Knight Rises,Action|Thriller,NaN,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt
5,93363,John Carter,Action|Adventure|Sci-Fi,NaN,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker
6,52722,Spider-Man 3,Action|Adventure|Romance,NaN,Sam Raimi,J.K. Simmons,James Franco,Kirsten Dunst
7,81847,Tangled,Adventure|Animation|Comedy|Family|Fantasy|Musi...,NaN,Nathan Greno,Brad Garrett,Donna Murphy,M.C. Gainey
8,122892,Avengers: Age of Ultron,Action|Adventure|Sci-Fi,NaN,Joss Whedon,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson
9,69844,Harry Potter and the Half-Blood Prince,Adventure|Family|Fantasy|Mystery,NaN,David Yates,Alan Rickman,Daniel Radcliffe,Rupert Grint
10,136864,Batman v Superman: Dawn of Justice,Action|Adventure|Sci-Fi,NaN,Zack Snyder,Henry Cavill,Lauren Cohan,Alan D. Purwin

In [8]:
title = pd.read_csv('C:/Users/user/OneDrive/바탕 화면/movies.csv')
title.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [9]:
title = title[['movieId','title']]
title.head(10)

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)
5        6                         Heat (1995)
6        7                      Sabrina (1995)
7        8                 Tom and Huck (1995)
8        9                 Sudden Death (1995)
9       10                    GoldenEye (1995)

In [16]:
A = pd.merge(posters, title, on='movieId', how='left')
A = A[['movieId','title','genres','director_name','actor_1_name','actor_2_name','actor_3_name']]
A = A[~ A.title.isnull()]
A.title = A.title.astype(str)
A.head(10)

,movieId,title,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,72998,Avatar (2009),Action|Adventure|Fantasy|Sci-Fi,James Cameron,CCH Pounder,Joel David Moore,Wes Studi
1,53125,Pirates of the Caribbean: At World's End (2007),Action|Adventure|Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport
2,136020,Spectre (2015),Action|Adventure|Thriller,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman
3,91529,"Dark Knight Rises, The (2012)",Action|Thriller,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt
4,93363,John Carter (2012),Action|Adventure|Sci-Fi,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker
5,52722,Spider-Man 3 (2007),Action|Adventure|Romance,Sam Raimi,J.K. Simmons,James Franco,Kirsten Dunst
6,81847,Tangled (2010),Adventure|Animation|Comedy|Family|Fantasy|Musi...,Nathan Greno,Brad Garrett,Donna Murphy,M.C. Gainey
7,122892,Avengers: Age of Ultron (2015),Action|Adventure|Sci-Fi,Joss Whedon,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson
8,69844,Harry Potter and the Half-Blood Prince (2009),Adventure|Family|Fantasy|Mystery,David Yates,Alan Rickman,Daniel Radcliffe,Rupert Grint
9,136864,Batman v Superman: Dawn of Justice (2016),Action|Adventure|Sci-Fi,Zack Snyder,Henry Cavill,Lauren Cohan,Alan D. Purwin

In [17]:
overview = pd.read_csv('C:/Users/user/OneDrive/바탕 화면/overview.csv')
overview.head(2)

   Unnamed: 0  movieId                                           overview
0           0        1  Led by Woody, Andy's toys live happily in his ...
1           1        2  When siblings Judy and Peter discover an encha...

In [18]:
overview = overview[['movieId','overview']]
overview.head(10)

   movieId                                           overview
0        1  Led by Woody, Andy's toys live happily in his ...
1        2  When siblings Judy and Peter discover an encha...
2        3  A family wedding reignites the ancient feud be...
3        4  Cheated on, mistreated and stepped on, the wom...
4        5  Just when George Banks has recovered from his ...
5        6  Obsessive master thief, Neil McCauley leads a ...
6        7  An ugly duckling having undergone a remarkable...
7        8  A mischievous young boy, Tom Sawyer, witnesses...
8        9  International action superstar Jean Claude Van...
9       10  James Bond must unmask the mysterious head of ...

In [19]:
final = pd.merge(A, overview, on='movieId', how='left')
final.head(10)

,movieId,title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview
0,72998,Avatar (2009),Action|Adventure|Fantasy|Sci-Fi,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,"In the 22nd century, a paraplegic Marine is di..."
1,53125,Pirates of the Caribbean: At World's End (2007),Action|Adventure|Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,"Captain Barbossa, long believed to be dead, ha..."
2,136020,Spectre (2015),Action|Adventure|Thriller,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,A cryptic message from Bond’s past sends him o...
3,91529,"Dark Knight Rises, The (2012)",Action|Thriller,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Following the death of District Attorney Harve...
4,93363,John Carter (2012),Action|Adventure|Sci-Fi,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker,"John Carter is a war-weary, former military ca..."
5,52722,Spider-Man 3 (2007),Action|Adventure|Romance,Sam Raimi,J.K. Simmons,James Franco,Kirsten Dunst,The seemingly invincible Spider-Man goes up ag...
6,81847,Tangled (2010),Adventure|Animation|Comedy|Family|Fantasy|Musi...,Nathan Greno,Brad Garrett,Donna Murphy,M.C. Gainey,When the kingdom's most wanted-and most charmi...
7,122892,Avengers: Age of Ultron (2015),Action|Adventure|Sci-Fi,Joss Whedon,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,When Tony Stark tries to jumpstart a dormant p...
8,69844,Harry Potter and the Half-Blood Prince (2009),Adventure|Family|Fantasy|Mystery,David Yates,Alan Rickman,Daniel Radcliffe,Rupert Grint,"As Harry begins his sixth year at Hogwarts, he..."
9,136864,Batman v Superman: Dawn of Justice (2016),Action|Adventure|Sci-Fi,Zack Snyder,Henry Cavill,Lauren Cohan,Alan D. Purwin,Fearing the actions of a god-like Super Hero l...

In [20]:
final.to_csv("final.csv")